.row-pictures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3px;
  position: relative;
  width: 100%;
  align-items: center;
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 400px;
  background-color: $gray;
}

.picture1 {
  width: 50%;
}

.picture2 {
  width: 25%;
}

.col-picture {
  height: 400px;
}

.background-picture {
  background-size: cover;
  width: 100%;
  height: 100%;
}

.half-size {
  height: 200px;
}
.half-size:first-child {
  margin-bottom: 10px;
}

.row-info {
  background-color: $gray;
}

.col-booking {
  background-color: $orange;
  padding: 3%;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.col-resume {
  background-color: $orange;
  display: flex;
  align-items: center;
  background: white;
  padding: 1%;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid rgb(235,235,235);
  height: -webkit-fill-available;
}

.col-resume .resume-text {
  flex-grow: 1;
  padding: 0 24px;
}

.col-resume p {
  margin: 0;
  line-height: 1.4;
}

.resume-avatar {
  margin-right: 50px;
  margin-bottom: auto;
  margin-top: 23px;
}

.row-description {
  background-color: $gray;
  justify-content: flex-end;
}

.col-description {
  padding: 1%;
  margin-left: 10px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}
