<div class="navbar d-flex">
 <!-- IF WE ADD A LOGO -->
 <!--  <a class="navbar-brand" href="#">
    <img src="insert url" />
</a> -->
 <!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 -->
    <ul class="navigation menu">
      <div class="navation-links">
        <a class="help-link" href="#">Help</a>
        <a class="bookings-link" href="#">My Bookings</a>
        <a class="log-link" href="#">Log in</a>
        <a class="sign-link" href="#">Sign up</a>
        <div class = "avatar-box">
          <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
        </div>
        <!-- DROP DOWN LIST ON AVATAR -->
        <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown"> -->
<!--   <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a> -->
       <!--  </div> -->
      </div>
    </ul>
    <div class="horizontal-line">
    </div>
</div>




