<div class="container-fluid">
  <div class="row">
    <div class="wrapper-left col-6">
      <form class="form-filter" action="/venues" method="get">

      <h2>Book unique places to organize your event and enjoy it.</h2>
        <div class="form-group">
          <label for="inputWhere">WHERE</label>
          <input type="city" name='city' class="form-control" id="inputWhere" placeholder="Mexico City" >
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="inputCheckIn">CHECK IN</label>
            <input type="date" name='datetimein' class="form-control" id="inputCheckIn" placeholder="mm-dd">
            <input type="time" name='hourtimein' class="form-control" id="hourInputCheckIn">
          </div>

          <div class="form-group col-sm-7">
            <label for="inputCheckOut">CHECK OUT</label>
            <input type="date" name='datetimeout' class="form-control" id="inputCheckOut" placeholder="yyyy-mm-dd hh">
            <input type="time" name='hourtimeout' class="form-control" id="hourInputCheckIn">
          </div>
        </div>

        <div class="form-group">
          <label for="inputCapacity">CAPACITY</label>
          <input type="capacity" name='capacity' class="form-control" id="inputCapacity" placeholder="number of guests">
        </div>

        <button type="submit" class="btn btn-white btn-submit-filter">SUBMIT</button>

      </form>
    </div>

    <div class="wrapper-right col-sm-5">
      <div class="about">
        <h2>Explore</h2>
        <a href="/venues">
          <div class="card-explore" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('living-room-1.jpg')  %>)">
            <span>VENUES</span>
          </div>
        </a>
      </br>
        <a href="/caterings">
          <div class="card-explore" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('catering-1.jpg')  %>)">
            <span>CATERINGS</span>
          </div>
        </a>
      </br>
        <a href="#">
          <div class="card-explore" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_url('music-1.jpg')  %>)">
            <span>MUSICIANS & DJS</span>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
