<div class="container-fluid">
  <div class="row">

    <div class="wrapper-left col-6">
      <form class="form-filter">
      <h2>Book unique places to organize your event and enjoy it.</h2>
        <div class="form-group">
          <label for="inputWhere">WHERE</label>
          <input type="city" class="form-control" id="inputWhere" placeholder="Mexico City">
        </div>

        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="inputCheckIn">CHECK IN</label>
            <input type="date" class="form-control" id="inputCheckIn" placeholder="dd/mm/yyyy">
          </div>

          <div class="form-group col-sm-6">
            <label for="inputCheckOut">CHECK OUT</label>
            <input type="date" class="form-control" id="inputCheckOut" placeholder="dd/mm/yyyy">
          </div>
        </div>

        <div class="form-group">
          <label for="inputCapacity">CAPACITY</label>
          <input type="capacity" class="form-control" id="inputCapacity" placeholder="... guests">
        </div>

        <button type="submit" class="btn btn-white btn-submit-filter">SUBMIT</button>
      </form>
    </div>

    <div class="wrapper-right col-6">
    </div>

  </div>
</div>
