<html>
  <head>
    <meta charset="utf-8">
    <title>Button Sprint</title>
    <link rel="shortcut icon" href=“data:image/x-icon;” type="image/x-icon">
    <meta name="viewport" content=“width=device-width, initial-scale="1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Montserrat|Nunito&display=swap" rel="stylesheet">
  </head>
  <body>


<div class="venue-card">
  <div class="image" style="background-image: url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg)"></div>
  <div class="card-product-info">
    <h3>Venue type</h3>
    <h1>TITLE</h1>
    <h2>Guests. bathroom. bed</h2>
    <p>Price</p>
  </div>
</div>
